<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        .nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        
        h1 {
            text-align: center;
            font-size: 34px;
        }
        
        .nav ul {
            display: flex;
        }
        
        .nav ul li {
            margin: 0 2rem;
            list-style: none;
        }
        
        a {
            color: rgb(2, 10, 117);
            text-decoration: none;
        }
        
        .list {
            width: 80%;
            margin: 1rem auto;
        }
        
        .todo {
            width: 100%;
            display: flex;
            margin-top: 5px;
        }
        
        .todo:hover {
            opacity: 0.7;
        }
        
        .title {
            width: 20%;
            background-color: rgb(255, 246, 232);
            border-left: 5px solid red;
        }
        
        .snippet {
            width: 80%;
            background-color: rgb(205, 206, 206);
        }
        
        .todo h2 {
            margin: 0;
            padding: 5px 10px;
            color: black;
        }
        
        .content {
            width: 100%;
            text-align: center;
            font-size: 28px;
        }
        
        .form {
            width: 30%;
            display: block;
            margin: 0 auto;
            font-size: 20px;
        }
        
        .form input {
            width: 100%;
            padding: 10px;
            margin: 1rem 0;
        }
        
        .form button {
            width: 30%;
            padding: 10px;
            margin: 1rem;
            font-size: 20px;
            cursor: pointer;
            border-radius: 10%;
        }
        
        .details {
            width: 80%;
            margin: 1rem auto;
            background-color: blanchedalmond;
            padding: 1rem;
            border-radius: 10px;
        }
        
        .details h1 {
            padding-bottom: 5px;
            border-bottom: 2px solid red
        }
        
        .delete {
            position: absolute;
            top: 160px;
            right: 170px;
            border-radius: 100%;
            padding: 10px;
            font-size: 24px;
            transition: 0.2s all linear;
        }
        
        .delete:hover {
            cursor: pointer;
            box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.5);
            background-color: white;
        }
    </style>
</head>