<nav class="nav">
    <div>
        <a href="/">
            <h1>To-Do-List</h1>
        </a>
    </div>
    <ul>
        <li>
            <a href="/">
                <h2>Home</h2>
            </a>
        </li>
        <li>
            <a href="/create">
                <h2>Create new list</h2>
            </a>
        </li>
    </ul>
</nav>